.sky {
  width: 100%;
  height: 70%;
  position: relative;
  @include transition(background 2s linear);
  
  &:hover {
    background: #222;
  }
}

.controls {
  width: 50%;
  height: 100px;
  margin: 0 auto;
}