@mixin transition($value) {
  -webkit-transition:$value;
     -moz-transition:$value;
       -o-transition:$value;
          transition:$value;
}

@mixin transform($value) {
  -webkit-transform:$value;
     -moz-transform:$value;
       -o-transform:$value;
          transform:$value;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}:$value;
     -moz-#{$property}:$value;
       -o-#{$property}:$value;
          #{$property}:$value;
}

@mixin gradient($dir, $value1, $value2) {
  background: -webkit-linear-gradient(#{$dir}, $value1, $value2);
     background: -moz-linear-gradient(#{$dir}, $value1, $value2);
       background: -o-linear-gradient(#{$dir}, $value1, $value2);
          background: linear-gradient(#{$dir}, $value1, $value2);
}