.controls {
  background: rgba(255, 255, 255, 0.8);
  border-top: 2px solid darken($morning, 40%);
  width: 205px;
  display: inline-block;
  z-index: 10;
}

.forecastList {
  padding: 0 10px 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  position: relative;
  
  .other-info {
    color: #555;
    display: none;
  }
}

.forecastBox {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: reverse-rotate 0.4s 1 ease-in-out;
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera 
  backface-visibility: hidden; */
}

.forecastBox.spin {
  -webkit-animation: rotate 0.4s 1 ease-in-out;
  opacity: 1;
}

.button {
  display: inline-block;
  text-align: center;
  width: 50%;
  @include transition(background 0.3s linear);
  
  &:hover {
    background: white;
  }
}

.cloud {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  @include prefix(animation, moveclouds 35s linear infinite);
  @include transition(background 3s linear);
}

.cloud.one {
  background: url(../img/cloud1.png);
  background-size: cover;
}

.cloud.one.dark {
  background: url(../img/cloud3.png);
  background-size: cover;
}

.cloud.two {
  background: url(../img/cloud2.png);
  background-size: cover;
}

.cloud.two.dark {
  background: url(../img/cloud4.png);
  background-size: cover;
}

$size: 10px;

.particle {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(240,240,240,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(240,240,240,.6) 100%);
	width:1px;
	height:59px;
	position: absolute;
	bottom:200px;
	-webkit-animation: drop .63s linear infinite;
  -moz-animation: drop .63s linear infinite;
}

.temperature {
  line-height: 0.85em;
  font-size: 4em;
  margin-left: -3px;
}

.degrees {
  vertical-align: top;
  font-size: 1.5em;
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
  font-size: 50px;
  padding: 0 0 0 10px;
}