.controls {
  background: rgba(255, 255, 255, 0.6);
  border-top: 2px solid darken($morning, 40%);
  width: 150px;
  display: inline-block;
}

.forecastList {
  padding: 0 10px 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  
  &:hover .forecast {
    // @include transform(rotateY(180deg));
  }
}

.forecast {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.button {
  display: inline-block;
  text-align: center;
  width: 50%;
  @include transition(background 0.3s linear);
  
  &:hover {
    background: white;
  }
}

.temperature {
  line-height: 1em;
  font-size: 4em;
}

.other-info {
  color: #555;
}